.social-media-icons-social-media-icons {
  width: 112px;
  display: flex;
  position: relative;
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: space-between;
}
.social-media-icons-link {
  display: contents;
}
.social-media-icons-instaicon {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.social-media-icons-link1 {
  display: contents;
}
.social-media-icons-twittericon {
  fill: var(--dl-color-primary-blue);
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.social-media-icons-link2 {
  display: contents;
}
.social-media-icons-tiktokicon {
  width: 24px;
  height: 24px;
  object-fit: cover;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  text-decoration: none;
}

@media(max-width: 767px) {
  .social-media-icons-root-class-name {
    margin-bottom: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 479px) {
  .social-media-icons-root-class-name {
    margin-bottom: var(--dl-space-space-tenunits);
  }
}

.navbar-container-navbar-container {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: sticky;
  box-shadow: 5px 5px 20px 1px rgba(116, 181, 241, 0.66);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-cinder);
}
.navbar-container-navbar {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
  background-color: var(--dl-color-primary-cinder);
}
.navbar-container-logo {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.navbar-container-navlink {
  display: contents;
}
.navbar-container-logo-rock {
  width: 100px;
  object-fit: cover;
  text-decoration: none;
}
.navbar-container-links-container {
  display: flex;
  align-items: flex-start;
  margin-left: 282px;
  flex-direction: row;
}
.navbar-container-navlink1 {
  display: contents;
}
.navbar-container-home {
  color: var(--dl-color-primary-cream);
  font-size: 18px;
  align-self: center;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: 1.55;
  margin-right: var(--dl-space-space-tripleunit);
  text-transform: capitalize;
  text-decoration: none;
}
.navbar-container-navlink2 {
  display: contents;
}
.navbar-container-about {
  color: var(--dl-color-primary-cream);
  font-size: 18px;
  align-self: center;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: 1.55;
  margin-right: var(--dl-space-space-tripleunit);
  text-transform: capitalize;
  text-decoration: none;
}
.navbar-container-navlink3 {
  display: contents;
}
.navbar-container-merch {
  color: var(--dl-color-primary-cream);
  font-size: 18px;
  align-self: center;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: 1.55;
  margin-right: var(--dl-space-space-tripleunit);
  text-transform: capitalize;
  text-decoration: none;
}
.navbar-container-signin-button {
  color: var(--dl-color-gray-cinder);
  font-size: 18px;
  align-self: center;
  transition: 0.3s;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: 1.55;
  margin-left: var(--dl-space-space-fiveunits);
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-cinder);
  border-width: 1px;
  padding-left: var(--dl-space-space-fiveunits);
  border-radius: 10px;
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-unit);
  text-transform: capitalize;
  text-decoration: none;
  background-color: #fbfbfbff;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.navbar-container-signin-button:hover {
  color: var(--dl-color-gray-cinder);
  border-color: var(--dl-color-primary-cinder);
  background-color: var(--dl-color-primary-blue);
}
.navbar-container-cta-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.navbar-container-navlink4 {
  display: contents;
}
.navbar-container-shopping-icon {
  fill: var(--dl-color-primary-cream);
  width: 24px;
  height: 24px;
  align-self: center;
  text-decoration: none;
}
.navbar-container-burger-menu {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-container-icon01 {
  width: 36px;
  height: 36px;
}
.navbar-container-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #FFFFFF;
}
.navbar-container-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.navbar-container-image {
  width: 50px;
  object-fit: cover;
}
.navbar-container-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-container-icon03 {
  width: 24px;
  height: 24px;
}
.navbar-container-mid {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-container-links-container1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.navbar-container-link {
  font-size: 18px;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: capitalize;
  text-decoration: none;
}
.navbar-container-link1 {
  font-size: 18px;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: capitalize;
  text-decoration: none;
}
.navbar-container-link2 {
  font-size: 18px;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: capitalize;
  text-decoration: none;
}
.navbar-container-link3 {
  font-size: 18px;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: 1.55;
  text-transform: capitalize;
  text-decoration: none;
}
.navbar-container-cta-btn {
  color: #FFFFFF;
  font-size: 18px;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: 1.55;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fiveunits);
  border-radius: 34px;
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-unit);
  text-transform: capitalize;
  text-decoration: none;
  background-color: #3a26efff;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.navbar-container-bot {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  margin-top: auto;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-container-social-links-container {
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
}
.navbar-container-icon05 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.navbar-container-icon07 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.navbar-container-icon09 {
  width: 24px;
  height: 24px;
}
@media(max-width: 991px) {
  .navbar-container-links-container {
    margin-left: var(--dl-space-space-fiveunits);
  }
  .navbar-container-signin-button {
    margin-left: var(--dl-space-space-tripleunit);
    margin-right: var(--dl-space-space-doubleunit);
    padding-left: var(--dl-space-space-tripleunit);
    padding-right: var(--dl-space-space-tripleunit);
  }
}
@media(max-width: 767px) {
  .navbar-container-links-container {
    display: none;
  }
  .navbar-container-burger-menu {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-tripleunit);
    padding-top: 4px;
    border-radius: var(--dl-radius-radius-radius4);
    padding-right: 4px;
    background-color: #000000;
  }
  .navbar-container-icon01 {
    fill: #FFFFFF;
  }
}
@media(max-width: 479px) {
  .navbar-container-burger-menu {
    margin-left: var(--dl-space-space-doubleunit);
  }
}

.footer-footer {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxcontent);
  align-items: flex-start;
  padding-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
}
.footer-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.footer-footer-info {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-placing-an-order {
  color: var(--dl-color-primary-cream);
  font-size: 16px;
  margin-bottom: var(--dl-space-space-unit);
}
.footer-delivery-options {
  color: var(--dl-color-primary-cream);
  font-size: 16px;
  margin-bottom: var(--dl-space-space-unit);
}
.footer-tracking-a-package {
  color: var(--dl-color-primary-cream);
  font-size: 16px;
  margin-bottom: var(--dl-space-space-unit);
}
.footer-contact-us {
  color: var(--dl-color-primary-cream);
  font-size: 16px;
}
.footer-footer-info2 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.footer-terms-of-service {
  color: var(--dl-color-primary-cream);
  font-size: 16px;
  margin-bottom: var(--dl-space-space-unit);
}
.footer-privacy {
  color: var(--dl-color-primary-cream);
  font-size: 16px;
  margin-bottom: var(--dl-space-space-unit);
}
.footer-sales-terms {
  color: var(--dl-color-primary-cream);
  font-size: 16px;
  margin-bottom: var(--dl-space-space-unit);
}
@media(max-width: 1200px) {
  .footer-footer {
    padding-right: var(--dl-space-space-tripleunit);
  }
}
@media(max-width: 767px) {
  .footer-footer {
    padding-right: var(--dl-space-space-tripleunit);
    flex-direction: column;
  }
}

.merch-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-cinder);
}
.merch-merch {
  display: flex;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-tenunits);
  justify-content: center;
}
.merch-mearch-heading {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  margin-top: var(--dl-space-space-fourunits);
  align-items: flex-start;
  justify-content: flex-start;
}
.merch-merch1 {
  color: var(--dl-color-primary-cream);
  font-style: normal;
  margin-bottom: var(--dl-space-space-fourunits);
}
.merch-items-section-1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.merch-items-section-11 {
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-tenunits);
  align-items: center;
  justify-content: center;
}
.merch-items-section-12 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.merch-container01 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.merch-container02 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.merch-container03 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.merch-body-pillow {
  width: auto;
  height: auto;
  align-self: center;
  object-fit: cover;
}
.merch-text {
  color: var(--dl-color-primary-cream);
  width: 299px;
  align-self: center;
  margin-top: var(--dl-space-space-doubleunit);
  text-align: center;
}
.merch-container04 {
  display: flex;
  align-items: flex-start;
}
.merch-container05 {
  display: flex;
  align-self: center;
  align-items: center;
  margin-left: 210px;
  margin-right: 210px;
  flex-direction: column;
  justify-content: center;
}
.merch-body-pillow1 {
  width: auto;
  height: auto;
  align-self: center;
  object-fit: cover;
}
.merch-text05 {
  color: var(--dl-color-primary-cream);
  width: 299px;
  align-self: center;
  margin-top: var(--dl-space-space-doubleunit);
  text-align: center;
}
.merch-container06 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.merch-image {
  width: auto;
  height: auto;
  align-self: center;
  object-fit: cover;
}
.merch-text10 {
  width: 232px;
  align-self: center;
  margin-top: var(--dl-space-space-doubleunit);
  text-align: center;
}
.merch-text11 {
  color: var(--dl-color-primary-cream);
}
.merch-text12 {
  color: var(--dl-color-primary-cream);
}
.merch-text13 {
  color: var(--dl-color-primary-cream);
}
.merch-items-section-2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.merch-items-section-21 {
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-tenunits);
  align-items: center;
  justify-content: center;
}
.merch-items-section-22 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.merch-container07 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.merch-container08 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.merch-container09 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.merch-body-pillow2 {
  width: auto;
  height: auto;
  align-self: center;
  object-fit: cover;
}
.merch-text15 {
  color: var(--dl-color-primary-cream);
  width: 299px;
  align-self: center;
  margin-top: var(--dl-space-space-doubleunit);
  text-align: center;
}
.merch-container10 {
  display: flex;
  align-items: flex-start;
}
.merch-container11 {
  display: flex;
  align-self: center;
  align-items: center;
  margin-left: 210px;
  margin-right: 210px;
  flex-direction: column;
  justify-content: center;
}
.merch-body-pillow3 {
  width: auto;
  height: auto;
  align-self: center;
  object-fit: cover;
}
.merch-text20 {
  color: var(--dl-color-primary-cream);
  width: 299px;
  align-self: center;
  margin-top: var(--dl-space-space-doubleunit);
  text-align: center;
}
.merch-container12 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.merch-image1 {
  width: auto;
  height: auto;
  align-self: center;
  object-fit: cover;
}
.merch-text25 {
  width: 232px;
  align-self: center;
  margin-top: var(--dl-space-space-doubleunit);
  text-align: center;
}
.merch-text26 {
  color: var(--dl-color-primary-cream);
}
.merch-text27 {
  color: var(--dl-color-primary-cream);
}
.merch-text28 {
  color: var(--dl-color-primary-cream);
}
.merch-items-section-3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.merch-items-section-31 {
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-tenunits);
  align-items: center;
  justify-content: center;
}
.merch-items-section-32 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.merch-container13 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.merch-container14 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.merch-container15 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.merch-body-pillow4 {
  width: auto;
  height: auto;
  align-self: center;
  object-fit: cover;
}
.merch-text30 {
  color: var(--dl-color-primary-cream);
  width: 299px;
  align-self: center;
  margin-top: var(--dl-space-space-doubleunit);
  text-align: center;
}
.merch-container16 {
  display: flex;
  align-items: flex-start;
}
.merch-container17 {
  display: flex;
  align-self: center;
  align-items: center;
  margin-left: 210px;
  margin-right: 210px;
  flex-direction: column;
  justify-content: center;
}
.merch-body-pillow5 {
  width: auto;
  height: auto;
  align-self: center;
  object-fit: cover;
}
.merch-text35 {
  color: var(--dl-color-primary-cream);
  width: 299px;
  align-self: center;
  margin-top: var(--dl-space-space-doubleunit);
  text-align: center;
}
.merch-container18 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.merch-image2 {
  width: auto;
  height: auto;
  align-self: center;
  object-fit: cover;
}
.merch-text40 {
  width: 232px;
  align-self: center;
  margin-top: var(--dl-space-space-doubleunit);
  text-align: center;
}
.merch-text41 {
  color: var(--dl-color-primary-cream);
}
.merch-text42 {
  color: var(--dl-color-primary-cream);
}
.merch-text43 {
  color: var(--dl-color-primary-cream);
}
.merch-items-section-4 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.merch-items-section-41 {
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-tenunits);
  align-items: center;
  justify-content: center;
}
.merch-items-section-42 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.merch-container19 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.merch-container20 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.merch-container21 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.merch-body-pillow6 {
  width: auto;
  height: auto;
  align-self: center;
  object-fit: cover;
}
.merch-text45 {
  color: var(--dl-color-primary-cream);
  width: 299px;
  align-self: center;
  margin-top: var(--dl-space-space-doubleunit);
  text-align: center;
}
.merch-container22 {
  display: flex;
  align-items: flex-start;
}
.merch-container23 {
  display: flex;
  align-self: center;
  align-items: center;
  margin-left: 210px;
  margin-right: 210px;
  flex-direction: column;
  justify-content: center;
}
.merch-body-pillow7 {
  width: auto;
  height: auto;
  align-self: center;
  object-fit: cover;
}
.merch-text50 {
  color: var(--dl-color-primary-cream);
  width: 299px;
  align-self: center;
  margin-top: var(--dl-space-space-doubleunit);
  text-align: center;
}
.merch-container24 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.merch-image3 {
  width: auto;
  height: auto;
  align-self: center;
  object-fit: cover;
}
.merch-text55 {
  width: 232px;
  align-self: center;
  margin-top: var(--dl-space-space-doubleunit);
  text-align: center;
}
.merch-text56 {
  color: var(--dl-color-primary-cream);
}
.merch-text57 {
  color: var(--dl-color-primary-cream);
}
.merch-text58 {
  color: var(--dl-color-primary-cream);
}
.merch-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #D9D9D9;
}
.merch-container25 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
}
.merch-container26 {
  flex: 0 0 auto;
  width: 944px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.merch-limited-edition {
  width: 944px;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-self: flex-start;
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-tenunits);
  padding-right: TeUnits;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-tenunits);
}
.merch-container27 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.merch-container28 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.merch-text60 {
  color: var(--dl-color-primary-cream);
  font-style: normal;
  margin-bottom: var(--dl-space-space-fourunits);
}
.merch-text61 {
  color: var(--dl-color-primary-cream);
  font-size: 48px;
  font-style: normal;
  margin-top: var(--dl-space-space-fourunits);
  font-family: Plus Jakarta Sans;
  font-weight: 600;
  line-height: 1.22;
  text-transform: none;
  text-decoration: none;
}
.merch-text62 {
  color: var(--dl-color-primary-cream);
  width: auto;
  font-size: 24px;
  margin-top: var(--dl-space-space-doubleunit);
  font-family: Noto Sans;
  font-weight: 400;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
.merch-text63 {
  color: var(--dl-color-primary-cream);
  align-self: flex-start;
  margin-top: var(--dl-space-space-fourunits);
  margin-bottom: var(--dl-space-space-doubleunit);
}
.merch-shopnow-button {
  color: var(--dl-color-primary-cream);
  width: auto;
  align-self: flex-start;
  transition: 0.3s;
  font-family: Noto Sans;
  border-color: var(--dl-color-primary-cream);
  background-color: transparent;
}
.merch-shopnow-button:hover {
  color: var(--dl-color-gray-cinder);
  border-color: var(--dl-color-primary-cinder);
}
.merch-container29 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.merch-the-rock-body-pillow {
  width: 384px;
  height: 875px;
  padding: var(--dl-space-space-fiveunits);
  align-self: flex-end;
  object-fit: cover;
  margin-left: var(--dl-space-space-tenunits);
  padding-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-tenunits);
  padding-right: var(--dl-space-space-tenunits);
  padding-bottom: var(--dl-space-space-tenunits);
}
.merch-section-separator1 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #D9D9D9;
}
@media(max-width: 1600px) {
  .merch-mearch-heading {
    width: 1241px;
  }
  .merch-limited-edition {
    height: 1033px;
    align-self: center;
  }
  .merch-container28 {
    align-self: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
@media(max-width: 1200px) {
  .merch-mearch-heading {
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .merch-merch1 {
    align-self: center;
    text-align: left;
  }
  .merch-items-section-1 {
    align-items: center;
    justify-content: center;
  }
  .merch-items-section-11 {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .merch-items-section-12 {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .merch-container01 {
    margin-top: var(--dl-space-space-tripleunit);
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .merch-container05 {
    margin-top: var(--dl-space-space-tripleunit);
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .merch-container06 {
    margin-top: var(--dl-space-space-tripleunit);
  }
  .merch-items-section-2 {
    align-items: center;
    justify-content: center;
  }
  .merch-items-section-22 {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .merch-container11 {
    margin-top: var(--dl-space-space-tripleunit);
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .merch-container12 {
    margin-top: var(--dl-space-space-tripleunit);
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .merch-items-section-32 {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .merch-container15 {
    margin-top: var(--dl-space-space-tripleunit);
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .merch-container17 {
    margin-top: var(--dl-space-space-tripleunit);
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .merch-container18 {
    margin-top: var(--dl-space-space-tripleunit);
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .merch-items-section-4 {
    align-items: center;
    justify-content: center;
  }
  .merch-items-section-42 {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .merch-container21 {
    margin-top: var(--dl-space-space-tripleunit);
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .merch-container23 {
    margin-top: var(--dl-space-space-tripleunit);
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .merch-container24 {
    margin-top: var(--dl-space-space-tripleunit);
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .merch-limited-edition {
    width: auto;
    height: 994px;
    align-self: center;
  }
  .merch-container28 {
    width: auto;
    margin-left: var(--dl-space-space-tenunits);
  }
}
@media(max-width: 991px) {
  .merch-merch {
    width: auto;
    height: auto;
    align-self: center;
  }
  .merch-mearch-heading {
    align-items: center;
    justify-content: center;
  }
  .merch-merch1 {
    align-self: center;
  }
  .merch-items-section-11 {
    width: auto;
  }
  .merch-container03 {
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .merch-body-pillow {
    width: auto;
    align-self: center;
  }
  .merch-container05 {
    width: 310px;
    height: 354px;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .merch-body-pillow1 {
    width: auto;
    height: 70%;
    align-self: center;
  }
  .merch-text05 {
    align-self: center;
    text-align: center;
  }
  .merch-container06 {
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .merch-image {
    width: auto;
    align-self: center;
  }
  .merch-items-section-21 {
    width: auto;
  }
  .merch-container09 {
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .merch-body-pillow2 {
    width: auto;
    align-self: center;
  }
  .merch-container11 {
    width: 310px;
    height: 354px;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .merch-body-pillow3 {
    width: auto;
    height: 70%;
    align-self: center;
  }
  .merch-text20 {
    align-self: center;
    text-align: center;
  }
  .merch-container12 {
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .merch-image1 {
    width: auto;
    align-self: center;
  }
  .merch-items-section-31 {
    width: auto;
  }
  .merch-container15 {
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .merch-body-pillow4 {
    width: auto;
    align-self: center;
  }
  .merch-container17 {
    width: 310px;
    height: 354px;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .merch-body-pillow5 {
    width: auto;
    height: 70%;
    align-self: center;
  }
  .merch-text35 {
    align-self: center;
    text-align: center;
  }
  .merch-container18 {
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .merch-image2 {
    width: auto;
    align-self: center;
  }
  .merch-items-section-41 {
    width: auto;
  }
  .merch-container21 {
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .merch-body-pillow6 {
    width: auto;
    align-self: center;
  }
  .merch-container23 {
    width: 310px;
    height: 354px;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .merch-body-pillow7 {
    width: auto;
    height: 70%;
    align-self: center;
  }
  .merch-text50 {
    align-self: center;
    text-align: center;
  }
  .merch-container24 {
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .merch-image3 {
    width: auto;
    align-self: center;
  }
  .merch-limited-edition {
    height: 1087px;
    align-self: center;
  }
  .merch-container27 {
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .merch-container28 {
    align-self: center;
    margin-left: 0px;
  }
  .merch-shopnow-button {
    color: var(--dl-color-primary-cream);
    border-color: var(--dl-color-primary-lightgray);
  }
}
@media(max-width: 767px) {
  .merch-merch {
    width: auto;
    height: auto;
    align-self: center;
  }
  .merch-items-section-11 {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .merch-container03 {
    height: 245px;
  }
  .merch-body-pillow {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-tenunits);
  }
  .merch-text {
    margin-bottom: var(--dl-space-space-doubleunit);
  }
  .merch-body-pillow1 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .merch-image {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .merch-items-section-21 {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .merch-container09 {
    height: 245px;
  }
  .merch-body-pillow2 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-tenunits);
  }
  .merch-text15 {
    margin-bottom: var(--dl-space-space-doubleunit);
  }
  .merch-body-pillow3 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .merch-image1 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .merch-items-section-31 {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .merch-container15 {
    height: 245px;
  }
  .merch-body-pillow4 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-tenunits);
  }
  .merch-text30 {
    margin-bottom: var(--dl-space-space-doubleunit);
  }
  .merch-body-pillow5 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .merch-image2 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .merch-items-section-41 {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .merch-container21 {
    height: 245px;
  }
  .merch-body-pillow6 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-tenunits);
  }
  .merch-text45 {
    margin-bottom: var(--dl-space-space-doubleunit);
  }
  .merch-body-pillow7 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .merch-image3 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .merch-limited-edition {
    height: auto;
    align-self: center;
    padding-top: 0px;
    padding-left: 0px;
    margin-bottom: var(--dl-space-space-tenunits);
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .merch-container27 {
    width: 766px;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .merch-container28 {
    width: auto;
    align-self: center;
    align-items: center;
    margin-left: 0px;
    justify-content: center;
  }
  .merch-text62 {
    align-self: center;
    margin-top: var(--dl-space-space-tenunits);
    text-align: center;
    padding-left: var(--dl-space-space-tenunits);
    padding-right: var(--dl-space-space-tenunits);
  }
  .merch-container29 {
    align-self: center;
    align-items: center;
    margin-bottom: var(--dl-space-space-tenunits);
    flex-direction: column;
    justify-content: center;
  }
  .merch-the-rock-body-pillow {
    width: auto;
    height: auto;
    align-self: center;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
}
@media(max-width: 479px) {
  .merch-merch {
    width: 100%;
    height: auto;
    align-self: flex-end;
    align-items: center;
    justify-content: center;
  }
  .merch-items-section-11 {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .merch-body-pillow {
    margin-bottom: var(--dl-space-space-tenunits);
  }
  .merch-items-section-21 {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .merch-body-pillow2 {
    margin-bottom: var(--dl-space-space-tenunits);
  }
  .merch-items-section-31 {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .merch-body-pillow4 {
    margin-bottom: var(--dl-space-space-tenunits);
  }
  .merch-items-section-41 {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .merch-body-pillow6 {
    margin-bottom: var(--dl-space-space-tenunits);
  }
  .merch-limited-edition {
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .merch-container27 {
    align-self: center;
  }
  .merch-container28 {
    width: auto;
    align-self: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
