.social-media-icons-social-media-icons {
  width: 112px;
  display: flex;
  position: relative;
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: space-between;
}
.social-media-icons-link {
  display: contents;
}
.social-media-icons-instaicon {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.social-media-icons-link1 {
  display: contents;
}
.social-media-icons-twittericon {
  fill: var(--dl-color-primary-blue);
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.social-media-icons-link2 {
  display: contents;
}
.social-media-icons-tiktokicon {
  width: 24px;
  height: 24px;
  object-fit: cover;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  text-decoration: none;
}

@media(max-width: 767px) {
  .social-media-icons-root-class-name {
    margin-bottom: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 479px) {
  .social-media-icons-root-class-name {
    margin-bottom: var(--dl-space-space-tenunits);
  }
}

.navbar-container-navbar-container {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: sticky;
  box-shadow: 5px 5px 10px 0px #74b5f1;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-cinder);
}
.navbar-container-navbar {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
  background-color: var(--dl-color-primary-cinder);
}
.navbar-container-logo {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.navbar-container-navlink {
  display: contents;
}
.navbar-container-logo-rock {
  width: 100px;
  object-fit: cover;
  text-decoration: none;
}
.navbar-container-links-container {
  display: flex;
  align-items: flex-start;
  margin-left: 282px;
  flex-direction: row;
}
.navbar-container-navlink1 {
  display: contents;
}
.navbar-container-home {
  color: var(--dl-color-primary-cream);
  font-size: 18px;
  align-self: center;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: 1.55;
  margin-right: var(--dl-space-space-tripleunit);
  text-transform: capitalize;
  text-decoration: none;
}
.navbar-container-navlink2 {
  display: contents;
}
.navbar-container-about {
  color: var(--dl-color-primary-cream);
  font-size: 18px;
  align-self: center;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: 1.55;
  margin-right: var(--dl-space-space-tripleunit);
  text-transform: capitalize;
  text-decoration: none;
}
.navbar-container-navlink3 {
  display: contents;
}
.navbar-container-merch {
  color: var(--dl-color-primary-cream);
  font-size: 18px;
  align-self: center;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: 1.55;
  margin-right: var(--dl-space-space-tripleunit);
  text-transform: capitalize;
  text-decoration: none;
}
.navbar-container-signin-button {
  color: var(--dl-color-gray-cinder);
  font-size: 18px;
  align-self: center;
  transition: 0.3s;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: 1.55;
  margin-left: var(--dl-space-space-fiveunits);
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-cinder);
  border-width: 1px;
  padding-left: var(--dl-space-space-fiveunits);
  border-radius: 10px;
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-unit);
  text-transform: capitalize;
  text-decoration: none;
  background-color: var(--dl-color-gray-cream);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.navbar-container-signin-button:hover {
  color: var(--dl-color-gray-cinder);
  border-color: var(--dl-color-primary-cinder);
  background-color: var(--dl-color-primary-blue);
}
.navbar-container-cta-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.navbar-container-shopping-icon {
  fill: var(--dl-color-primary-cream);
  width: 24px;
  height: 24px;
  align-self: center;
}
.navbar-container-burger-menu {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-container-icon01 {
  width: 36px;
  height: 36px;
}
.navbar-container-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.navbar-container-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.navbar-container-image {
  width: 50px;
  object-fit: cover;
}
.navbar-container-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-container-icon03 {
  width: 24px;
  height: 24px;
}
.navbar-container-mid {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-container-links-container1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.navbar-container-link {
  font-size: 18px;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: capitalize;
  text-decoration: none;
}
.navbar-container-link1 {
  font-size: 18px;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: capitalize;
  text-decoration: none;
}
.navbar-container-link2 {
  font-size: 18px;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: capitalize;
  text-decoration: none;
}
.navbar-container-link3 {
  font-size: 18px;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: 1.55;
  text-transform: capitalize;
  text-decoration: none;
}
.navbar-container-cta-btn {
  color: var(--dl-color-gray-white);
  font-size: 18px;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: 1.55;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fiveunits);
  border-radius: 34px;
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-unit);
  text-transform: capitalize;
  text-decoration: none;
  background-color: #3a26efff;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.navbar-container-bot {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  margin-top: auto;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-container-social-links-container {
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
}
.navbar-container-icon05 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.navbar-container-icon07 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.navbar-container-icon09 {
  width: 24px;
  height: 24px;
}
@media(max-width: 991px) {
  .navbar-container-links-container {
    margin-left: var(--dl-space-space-fiveunits);
  }
  .navbar-container-signin-button {
    margin-left: var(--dl-space-space-tripleunit);
    margin-right: var(--dl-space-space-doubleunit);
    padding-left: var(--dl-space-space-tripleunit);
    padding-right: var(--dl-space-space-tripleunit);
  }
}
@media(max-width: 767px) {
  .navbar-container-links-container {
    display: none;
  }
  .navbar-container-burger-menu {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-tripleunit);
    padding-top: 4px;
    border-radius: var(--dl-radius-radius-radius4);
    padding-right: 4px;
    background-color: var(--dl-color-gray-black);
  }
  .navbar-container-icon01 {
    fill: var(--dl-color-gray-white);
  }
}
@media(max-width: 479px) {
  .navbar-container-burger-menu {
    margin-left: var(--dl-space-space-doubleunit);
  }
}

.footer-footer {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxcontent);
  align-items: flex-start;
  padding-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
}
.footer-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.footer-footer-info {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-placing-an-order {
  color: var(--dl-color-primary-cream);
  font-size: 16px;
  margin-bottom: var(--dl-space-space-unit);
}
.footer-delivery-options {
  color: var(--dl-color-primary-cream);
  font-size: 16px;
  margin-bottom: var(--dl-space-space-unit);
}
.footer-tracking-a-package {
  color: var(--dl-color-primary-cream);
  font-size: 16px;
  margin-bottom: var(--dl-space-space-unit);
}
.footer-contact-us {
  color: var(--dl-color-primary-cream);
  font-size: 16px;
}
.footer-footer-info2 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.footer-terms-of-service {
  color: var(--dl-color-primary-cream);
  font-size: 16px;
  margin-bottom: var(--dl-space-space-unit);
}
.footer-privacy {
  color: var(--dl-color-primary-cream);
  font-size: 16px;
  margin-bottom: var(--dl-space-space-unit);
}
.footer-sales-terms {
  color: var(--dl-color-primary-cream);
  font-size: 16px;
  margin-bottom: var(--dl-space-space-unit);
}
@media(max-width: 1200px) {
  .footer-footer {
    padding-right: var(--dl-space-space-tripleunit);
  }
}
@media(max-width: 767px) {
  .footer-footer {
    padding-right: var(--dl-space-space-tripleunit);
    flex-direction: column;
  }
}

.sign-up-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-cinder);
}
.sign-up-sign-up {
  width: 100%;
  height: 901px;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-tenunits);
  padding-right: var(--dl-space-space-tenunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-tenunits);
  background-size: cover;
  background-image: url("assets/group%202367-1100h.png");
}
.sign-up-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.sign-up-container2 {
  width: 675px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sign-up-container3 {
  width: 656px;
  height: 755px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: 70px;
  background-size: cover;
  justify-content: flex-start;
  background-image: url("assets/rectangle%2024-800h.png");
  background-position: center;
}
.sign-up-text {
  color: var(--dl-color-primary-cream);
  margin-top: var(--dl-space-space-fourunits);
}
.sign-up-text01 {
  color: var(--dl-color-primary-cream);
  font-size: 24px;
  margin-top: var(--dl-space-space-fourunits);
  font-family: Noto Sans;
  font-weight: 400;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
.sign-up-text03 {
  color: var(--dl-color-primary-blue);
  font-weight: 700;
}
.sign-up-form {
  width: 310px;
  height: 44px;
  align-self: flex-start;
  margin-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-tenunits);
}
.sign-up-email-adress {
  color: var(--dl-color-primary-cream);
  font-size: 24px;
  align-self: flex-start;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
.sign-up-textinput {
  color: var(--dl-color-primary-cream);
  font-size: 24px;
  margin-top: var(--dl-space-space-doubleunit);
  font-family: Noto Sans;
  font-weight: 400;
  line-height: 1.55;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-primary-cream);
  border-width: 1px;
  padding-left: 1rem;
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: 1rem;
  padding-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
  background-color: transparent;
}
.sign-up-password {
  margin-top: var(--dl-space-space-fiveunits);
}
.sign-up-set-password {
  color: var(--dl-color-primary-cream);
  font-size: 24px;
  align-self: flex-start;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
.sign-up-textinput1 {
  color: var(--dl-color-primary-cream);
  font-size: 24px;
  margin-top: var(--dl-space-space-doubleunit);
  font-family: Noto Sans;
  font-weight: 400;
  line-height: 1.55;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-primary-cream);
  border-width: 1px;
  padding-left: 1rem;
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: 1rem;
  padding-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
  background-color: transparent;
}
.sign-up-container4 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  margin-top: 249px;
  align-items: center;
  justify-content: center;
}
.sign-up-container5 {
  width: auto;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.sign-up-checkbox {
  width: 25px;
  height: 25px;
  margin-right: var(--dl-space-space-doubleunit);
}
.sign-up-text04 {
  color: var(--dl-color-primary-cream);
}
.sign-up-text06 {
  font-weight: 700;
}
.sign-up-button {
  color: var(--dl-color-primary-cream);
  font-size: 24px;
  transition: 0.3s;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: 1.55;
  padding-top: 11px;
  border-width: 0px;
  padding-left: 100px;
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: 100px;
  padding-bottom: 11px;
  text-transform: none;
  text-decoration: none;
  background-color: var(--dl-color-primary-blue);
}
.sign-up-button:hover {
  color: var(--dl-color-primary-cinder);
  background-color: var(--dl-color-primary-cream);
}
.sign-up-container6 {
  width: 675px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sign-up-container7 {
  width: 671px;
  height: auto;
  display: flex;
  margin-top: 595px;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: flex-start;
}
.sign-up-text07 {
  color: var(--dl-color-primary-cream);
  font-size: 64px;
  align-self: flex-start;
  font-style: normal;
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  line-height: 83.53px;
  margin-left: var(--dl-space-space-fiveunits);
  text-transform: none;
  text-decoration: none;
}
.sign-up-text10 {
  color: var(--dl-color-primary-blue);
  font-size: 64px;
  align-self: flex-end;
  font-style: normal;
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  line-height: 83.53px;
  margin-right: var(--dl-space-space-fiveunits);
  letter-spacing: 11.5%;
  text-transform: none;
  text-decoration: none;
}
.sign-up-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #D9D9D9;
}
@media(max-width: 1600px) {
  .sign-up-sign-up {
    height: 1033px;
    align-self: center;
  }
}
@media(max-width: 1200px) {
  .sign-up-sign-up {
    width: auto;
    height: 994px;
    align-self: center;
  }
}
@media(max-width: 991px) {
  .sign-up-sign-up {
    height: 1087px;
    align-self: center;
  }
}
@media(max-width: 767px) {
  .sign-up-sign-up {
    align-self: center;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
}
@media(max-width: 479px) {
  .sign-up-sign-up {
    align-self: center;
    align-items: center;
    justify-content: center;
  }
}
